{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} {{ app.user.lastname }} - Profil{% endblock %}

{% block body %}
    <section>
        <div class="container py-4 h-100">
            <div class="row d-flex flex-lg-wrap justify-content-center align-items-center h-100">
                {% set events_insc = app.user.getEventsInsc() %}
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png"
                                     alt="Avatar" class="img-fluid mt-5 mb-2" style="width: 80px;" />
                                <h4>{{ app.user.firstname }} {{ app.user.lastname }}</h4>
                                <button type="button" class="btn text-white">
                                    <a href="/profile/modify"><i class="far fa-edit mb-5"></i></a>
                                </button>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">{{ app.user.email }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Rôles</h6>
                                            <p class="text-muted">{{ app.user.roles[0] }}</p>
                                        </div>
                                    </div>
                                    <h6>Événements</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Inscriptions</h6>
                                            <p class="text-muted">
                                                {% if events_insc|length <= 0 %}
                                                    Aucun
                                                {% else %}
                                                    <a>
                                                        {{ events_insc|length }}
                                                        <i class="bi bi-box-arrow-up-right"></i>
                                                    </a>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Créés</h6>
                                            <p class="text-muted">{{ app.user.getEventsCreated()|length }}</p>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <button type="button" class="btn btn-warning">
                                            <a href="/profile/change-passwd">Modifier le mot de passe</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="card-body p-4">
                            <h6>Événements où vous êtes inscrits</h6>
                            <hr class="mt-0 mb-4">
                            {% for event in events_insc %}
                                <div class="row pt-1">
                                    <h6>{{ event.title }}</h6>
                                    <p>{{ event.datetime.format('d/m/Y à H:i') }}, {{ event.place.name }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}